[user]
	email = stefanbuzarnescu@protonmail.com
	name = buzy13
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/stefanbuzarnescu/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
